*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --font-color-primary: ##FFFEFF;
  --font-color-secondary : #E3E4E6;
  --color-blue: #0079FE;
  --color-gray: #BEBFC8;
  --bg-color-primary: #141C2F;
  --bg-color-secondary: #1F2A48;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 390px;
  min-height: 100vh;
  background-color: var(--bg-color-primary);
}

.body-container {
  max-width: 40em;
  width: 100%;
  padding: 0 1em;
}

.body-container .header-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-block: 1em;
}

.header-content .logo {
  font-size: 1.3em;
  font-weight: 700;
  color: var(--font-color-primary);
}

.header-content .theme-switcher {
  display: flex;
  align-items: center;
  gap: 0.7em;
  cursor: pointer;
}

.header-content .theme-switcher .theme-switcher__text {
    font-size: 0.9em;
    color: var(--font-color-primary);
    text-transform: uppercase;
}


.header-content .theme-switcher .theme-switcher__icon {
  /* font-size: 1.2em; */
  display: flex;
  align-items: center;
  color: var(--font-color-primary);
}

.theme-switcher .theme-switcher__icon svg {
    color: var(--font-color-primary);
}

.search-bar {
    width: 100%;
    display: flex;
    padding: .5em 1em;
    background-color: var(--bg-color-secondary);
    border-radius: 8px;
    margin-top: 1.5em;
}

.search-bar label {
    display: flex;
    align-items: center;
    color: var(--color-blue);
    font-family: inherit;
    margin-inline-start: .4em;
}

.octicon {
    display: inline-block;
    vertical-align: text-bottom;
    fill: currentColor;
}

.search-bar input {
  padding: 0.7em 1em;
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  width: 100%;
  margin-inline-end: 1em;
  /* margin-inline-start: em; */
  font-family: inherit;
  background-color: inherit;
  color: var(--font-color-primary);
  transition: border-color 0.25s;
}

::placeholder {
  color: var(--color-gray);
   opacity: 1;
}

.search-bar button {
   display: inline-block;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.7em 1.2em;
  font-size: 1em;
  font-weight: 600;
  font-family: inherit;
  background-color: var(--color-blue);
  cursor: pointer;
  transition: border-color 0.25s;
  margin-left: auto;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px solid var(--color-blue);
}


.bio2,
.avatar2{
    display: none;
}


main .user-profile {
    background-color: var(--bg-color-secondary);
    padding: 1.5em;
    border-radius: 8px;
    margin-top: 1.5em;
    width: 100%;
    display: flex;
}

.user-profile__avatar {
    width: 100px;
    height: 100px;
    aspect-ratio: 1/1;
    margin-inline-end: 2.5em;
    margin-inline-start: 1em;
    border-radius: 50%;
    background-color: var(--font-color-secondary);
}

.user-profile__avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: contain;
}

.user-profile__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5em;
}

.user-profile__info__name-container {
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

.user-profile__info__name-container div{
    display: flex;
    flex-direction: column;
}

.user-profile__info__joined {
    margin-top: 5px;
    color: var(--font-color-secondary);
}

.user-profile__info__username {
    font-size: .9em;
    color: var(--color-blue);
}

.user-profile__info__bio {
    margin-top: 1em;
    color: var(--color-gray);
}

.user-profile__info__stats {
    display: flex;
    gap: max(calc(3svw + 5px), 2em);
    background-color: var(--bg-color-primary);
    padding: 1em 2em;
    border-radius: 8px;
}

.user-profile__info__stats__item span {
    display: block;
}

.user-profile__info__stats__item__label {
    color: var(--color-gray);
    font-size: .9em;
}

.user-profile__info__stats__item__value {
    color: var(--font-color-primary);
    font-size: 1.5em;
    font-weight: 700;
}

.user-profile__info__details {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    width: 100%;
}
.user-profile__info__details__item {
    flex-basis: 45%;
    display: flex;
    align-items: center;
    gap: .5em;
    font-size: 1em;
    font-weight: 200;
    color: var(--font-color-primary);
}

.user-profile__info__details__item__label {
  display: inline-flex;
  align-items: center;
}
.user-profile__info__details__item__label svg {
  margin-inline-end: .5em;
  fill: currentColor;
}

.user-profile__info__details__item__value {
    font-weight: 500;
}


@media (max-width: 700px) {
    .avatar1,
    .bio1 {
        display: none;
    }
    .avatar2,
    .bio2 {
        display: block;
    }
    .user-profile__info {
        width: 100%;
    }

    .user-profile__info header{
        display: flex;
        align-items: center;
        gap: 1em;
    }
    .user-profile__info__name-container {
        flex-direction: column;
        gap: .5em;
    }
    .user-profile__info__name-container div{
        gap: .3em;
    }
    .user-profile__info__joined {
        margin-top: 0;
    }

    .user-profile__info__stats {
        gap: clamp(.5em, 15vmin, 15em);
    }

}

@media (max-width: 500px) {
    .user-profile__info__stats {
        justify-content: space-around;
        gap: 0;
    }

    .user-profile__info__stats__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .5em;
    }
    .user-profile__info__details__item {
        flex-basis: 100%;
    }
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }

}
